{% extends "movie/base.html" %}
{% block bodyblock %}
    <form action="/movies/{{movie.id}}/update/" method="post">
        {% csrf_token %}
        영화명: <input type="text" name="title" value="{{movie.title}}"/><br>
        누적 관객수: <input type="number" name="audience" value="{{movie.audience}}"/><br>
        장르: <input type="text" name="genre" value="{{movie.genre}}"/><br>
        평점: <input type="float" name="score" value="{{movie.score}}"/><br>
        포스터 이미지 URL: <input type="text" name="poster_url" value="{{movie.poster_url}}"/><br>
        영화 소개: <textarea rows="4" cols="50" name="description"/>{{movie.description}}</textarea><br>
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}